{% load staticfiles %}

<html>
<head>
    <title>{{ note.note_title }} - Notes</title>
    <link rel="stylesheet" href="{% static 'notes/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'notes/css/styles.css' %}">
</head>
<body>
<main class="container" role="main">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'notes:index' %}">
                    <img id="logo" src="{% static 'notes/img/logo.png' %}">
                </a>
            </div>

            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

            <button type="button" class="btn btn-default navbar-btn navbar-right">Sign in</button>

            <button type="button" class="btn btn-default navbar-btn navbar-right">Sign up</button>

        </div>
    </nav>

    <div class="panel panel-default">
        <div class="panel-heading panel-title">
            <h4>
                {% if note.is_pinned %}
                    <img class="pin pinned" src="{% static 'notes/img/pin.png' %}" title="Note pinned">
                {% else %}
                    <img class="pin not-pinned" src="{% static 'notes/img/pin.png' %}" title="Note not pinned">
                {% endif %}
                {{ note.note_title }}
                <span class="label label-default right-label">{{ note.label }}</span>
            </h4>
        </div>
        <div class="panel-body">
            <form action="{% url 'notes:save' note.id %}" method="post">
                {% csrf_token %}
                <textarea class="form-control" id="note_text" name="note_text" rows="5">{{ note.note_text }}</textarea>
                <input type="submit" class="btn btn-default" value="Save">
                <button type="submit" class="btn btn-default right-label">Delete</button>
            </form>

        </div>
        <div class="panel-body">
            <p>Created by: {{ note.author }} at {{ note.pub_date }}</p>
            <p>Last modified: {{ note.mod_date }}</p>
        </div>
    </div>
</main>
<script src="{% static 'notes/js/bootstrap.min.js' %}"></script>
</body>
</html>